<div ng-controller="AccountCtrl">
    <div class="col-sm-8 col-md-6" ng-show="!loading">
        <h4>Список аккаунтов</h4>
        <input type="text" class="form-control m-b" placeholder="Поиск аккаунта" ng-model="searchAccount">

            <div class="table-responsive">
            <table class="table table-bordered table-hover account-list">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>E-mail</th>
                        <th>Дата создания</th>
                        <th>Имя</th>
                        <th>Статус</th>
                        <th>Тариф</th>
                        <th>Срок действия</th>
                        <th>Активных страниц</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="account in accounts | filter: searchAccount">
                        <td>
                            <a ui-sref="app.account.detail({accountId:account.id, tabId: 'form'})">{{account.id}}</a>
                        </td>
                        <td>
                            <a ui-sref="app.account.detail({accountId:account.id, tabId: 'form'})">{{account.email}}</a>
                        </td>
                        <td>
                            <a ui-sref="app.account.detail({accountId:account.id, tabId: 'form'})">{{account.date | date:'dd.MM.yyyy HH:mm'}}</a>
                        </td>
                        <td>
                            <a ui-sref="app.account.detail({accountId:account.id, tabId: 'form'})">{{account.name}}</a></td>
                        <td>
                            <a ui-sref="app.account.detail({accountId:account.id, tabId: 'form'})">
                                <span class="account-status account-status-{{account.status_id}}"></span>
                            </a>
                        </td>
                        <td>
                            <a ui-sref="app.account.detail({accountId:account.id, tabId: 'form'})">{{account.tarif_id}}</a>
                        </td>
                        <td>
                            <a ui-sref="app.account.detail({accountId:account.id, tabId: 'form'})">{{account.expired | date:'dd.MM.yyyy HH:mm'}}</a>
                        </td>
                        <td>
                            <a ui-sref="app.account.detail({accountId:account.id, tabId: 'form'})">{{account.pages}}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-4 col-md-6" ui-view="" ng-show="!loading"></div>

    <div class="alert alert-info" ng-if="loading">
        Загрузка данных, пожалуйста подождите...
    </div>
</div>