<h4>Настройки раздела 1</h4>
<form name="settingsForm" novalidate="">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="field1">Поле 1</label>
                <input type="text" class="form-control" id="field1">
            </div>

            <div class="form-group">
                <label for="field2">Поле 2</label>
                <input type="text" class="form-control" id="field2">
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="field3">Поле 3</label>
                <input type="text" class="form-control" id="field3">
            </div>

            <div class="form-group">
                <label for="field4">Поле 4</label>
                <input type="text" class="form-control" id="field4">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <input type="submit" value="Сохранить" class="btn btn-primary">
        </div>
    </div>
</form>