.m-b {
	margin-bottom 20px;
}

.m-t {
	margin-top 20px;
}

.m-l {
	margin-left 20px;
}

.clearfix{
	clear both
}

.nav{
	overflow hidden
}

.account-list {
	tbody {
		tr {
			a{
				display block
				margin -8px
				padding 8px
				text-decoration none
				color inherit
			}
		}
	}
}

.account-status {
	display inline-block
	width 10px
	height 10px
	border-radius 50%;
	
	&-1{
		background-color green
	}

	&-2{
		background-color red
	}

	&-3{
		background-color orange
	}
}